<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neuro Trial</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script src="/jquery/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.js"></script>
   <link rel='stylesheet' type="text/css" href='/stylesheets/trial.css'/>

</head>

<body>

<script>
    var run = <%- Trial %>;
    var selectedRun = <%= runSelection %>;
</script>

<div class="modal fade" id="run-modal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Run <%=runSelection+1%></h5>
            </div>
            <div class="modal-body">
                To proceed through the trial, use the right arrow key to navigate. Once a colored dot appears, use the
                up and down arrow keys to select the color you associate yourself with and then continue to proceed with
                the right arrow key.
            </div>
            <div class="modal-footer">
                <button type="button" id="begin-trial" class="btn btn-primary" onclick="">Begin</button>
            </div>
        </div>
    </div>
</div>


<div class="row" id="dotTrial">
    <div class="col-md-12" ontouchstart="touchOption(null)" id="canvasContainer">
        <canvas id="dotCanvas">Your Browser does not Support Canvas Elements</canvas>
    </div>
</div>


<div class="row text-center" id="trialCharacter">
        <%- include partials/trial/characterPartial.ejs%>
</div>


<div class="row" id="colorAssociation">
    <div class="col" id="color-container">
        <fieldset class="form-group">
            <div class="form-check">
                <label class="form-check-label">
                    <span class="dot" id="color-one"></span>
                    <!--<button class="color-choice" name="optionsRadios" id="colorOptionOne" value="option1"-->
                            <!--ontouchstart="touchOption(this.id)">-->

                    <!--</button>-->
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <span class="dot" id="color-two"></span>
                    <!--<button class="color-choice" name="optionsRadios" id="colorOptionTwo" value="option2"-->
                            <!--ontouchstart="toggleRun()">-->

                    <!--</button>-->
                </label>
            </div>
        </fieldset>
    </div>

</div>


<nav class="navbar fixed-bottom navbar-light bg-light justify-content-between">
    <a class="navbar-brand"> Welcome <%= User %></a>
    <div class="form-inline">
        <button class="btn navbar-btn btn-outline-success" onclick="save()">Save</button>
    </div>
</nav>

<script src="/javascripts/trialLogic.js"></script>

</body>
</html>